<sly data-sly-use.weatherModel="com.assessment.core.models.WeatherModel"></sly>
<div class="cmp-weather" data-city="${properties.city}">
    <h2>${weatherModel.pageTitle}</h2>
    <div class="cmp-weather__client"></div>
    <div class="cmp-weather__client">
        <sly data-sly-test="${weatherModel.temperature && weatherModel.description}">
            <p>${weatherModel.city}: ${weatherModel.temperature} / ${weatherModel.description}</p>
        </sly>

        <sly data-sly-test="${!weatherModel.temperature}">
            <p>Weather data is currently unavailable for ${weatherModel.city}.</p>
        </sly>
    </div>
</div>
